.App {
  font-family: 'Roboto', sans-serif;
}

.Header {
  position: fixed;
  width: 100%;
  background: white;
  padding: 10px;
}

#cart {
  float: left;
  width: 40%;
  position: relative;
}

#user {
  float: right;
  width: 50%;
  text-align: right;
  position: relative;
}

#products {
  clear: both;
  text-transform: capitalize;
  font-weight: 500;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

button {
  width: 25%;
  padding: 5px 0;
  margin: 0 15px;
  background: transparent;
  border: 2px solid darkseagreen;
  border-radius: 5px;
  color: green;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  outline: none;
}
button:hover {
  opacity : 0.7;
}

.form {
  display: grid;
  position: absolute;
  width: 100%;
  background: white;
  border-bottom: 1px solid black;
}

.input {
  padding: 5px 0;
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
  margin: 10px auto;
  outline: none;
}

.btn-action {
  width: 15%;
  margin: 10px auto;
  font-size: 11px;
  background: green;
  border: 1px solid green;
  color: white;
}

.btn-logout {
  border: 2px solid darkorange;
  color: darkorange;
}

.btn-add {
  border: 2px solid black;
  color: black;
  width: 30%;
}

.btn-delete {
  border: 2px solid orangered;
  color: orangered;
  width: 20%;
  height: 100%;
}

.span-cart {
  font-weight: 800;
}
.span-products, .span-price {
  font-weight: 100;
}

.cart-details {
  padding: 20px;
  position: absolute;
  background: white;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.detailsAll {
  display: flex;
}
.details-productCart {
  width: 60%;
}

.product {
  text-align: center;
  margin-bottom: 30px;
}

.price {
  font-weight: 100;
}

.image-productCart {
  max-width: 30%;
}
.img-cart {
  width: 80%;
}

.result {
  padding: 5px;
  text-align: center;
  font-weight: 900;
  color: white;
}
.success {
  background: limegreen;
}
.failure {
  background: red;
}